<p id="notice"><%= notice %></p>
<h1>作業一覧</h1>


<table id ="work_list" class="table table-hover">
  <caption>作業一覧</caption>
  <thead>
    <tr>
      <th>作業ID</th>
      <th>作業内容</th>
      <th>作業日</th>
      <th>作業者</th>
      <th>作業承認者</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
  <% @work_list.each do |list| %>
  <tr>
    <td><%=list.id%></td>
    <td><%=list.work%></td>
    <td><%=show_days(list.work_date)%></td>
    <td><%=list.worker%></td>
    <td><%=list.authorizer%></td>
    <td><%=list.comment%></td>
  </tr>
<%end%>
  </tbody>
</table>
</div>


<script>
 overdue();
</script>
